body{
    background-color: #34325c;
}

.container {
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    color: white;
    background-color: #423e71;
    border: none;
    margin: 1px;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}
